<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">

        <!--返回单个对象
            public User findOne();
        -->
    <select id="findOne" resultType="User">
        select * from user where id = 1
    </select>
        <!--返回多个对象List集合
            public List<User> findAll;
         -->
    <select id="findAll" resultType="User">
        select * from user
    </select>
    <!--返回多个对象的Map集合
    把查询出来的数据中的某一列作为键,整条数据封装的对象作为值
    public Map<key,User> findUserMap()
     -->
    <select id="findUserMap" resultType="User">
        select * from user
    </select>
</mapper>